@model login_app.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">
	<div class="card bg border-0">
		<article class="card-body w-75 mx-auto mt-5" style="max-width: 400px; background: #f8f9fa" >
			<form method="post" asp-controller="Account" asp-action="Login"
			      asp-route-returnUrl="@Model.ReturnUrl">
				<div asp-validation-summary="ModelOnly"></div>
				<div class="form-group input-group">
					<input asp-for="Email" class="form-control" placeholder="Введите e-mail" type="text">
					<span class="text-danger" asp-validation-for="Email"></span>
				</div>
				<div class="form-group input-group">
					<input asp-for="Password" class="form-control" placeholder="Введите пароль" type="password">
					<span class="text-danger" asp-validation-for="Password"></span>
				</div>
				<div>
					<label asp-for="RememberMe"></label>
					<input asp-for="RememberMe" />
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Login</button>
				</div>
			</form>
		</article>
	</div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
